<strong>Olá, {{ deliveryman }}</strong>
<p>Você possui uma nova entrega a ser realizada, confira os detalhes abaixo:</p>
<p>
    <strong>Cliente: </strong> {{ name }} <br /><br />
    <strong>Endereço: </strong> <br />
    <strong>Rua: </strong> {{ street }} <br />
    <strong>Número: </strong> {{ number }} <br />
    <strong>Complemento: </strong> {{ complement }} <br />
    <strong>Cidade: </strong> {{ city }} <br />
    <strong>Estado: </strong> {{ state }} <br />
    <strong>CEP: </strong> {{ cep }} <br />

    <strong>Produto: </strong> {{ product }} <br /><br />

</p>
